<div class="myjournal-container">

    <h1>My Journal</h1>
    <h2>How do you feel today <strong> {{ userName }} </strong>?</h2>

    <div class="feelings">
        <button (click)="selectFeeling('HAPPY')">Happy</button>
        <button (click)="selectFeeling('SAD')">Sad</button>
        <button (click)="selectFeeling('TIRED')">Tired</button>
        <button (click)="selectFeeling('STRESSED')">Stressed</button>
        <button (click)="selectFeeling('ANGRY')">Angry</button>

        <p *ngIf="selectedFeeling"> Your selected feeling: {{ selectedFeeling }} </p>

        <h2>Leave a note:</h2>

        <textarea [(ngModel)]="note" placeholder="Describe your feeling today..." rows="6" cols="50"> </textarea>
        <br>

        <button (click)="saveNote()" class="buttons"> Save note </button>

        <button class="statistics-button" (click)="openStatistics()">
            Open statistics view
        </button>
    </div>

    <div class="savedNotes">
        <h2>My Journal Notes:</h2>

        <div *ngFor="let journal of savedNotes">
            <h3> {{ journal.status }} </h3>

            <li> Saved Note: <br> {{ journal.note }} </li>

            <small> {{ journal.timeStamp | date:'yyyy-MM-dd HH:mm' }} </small>
            <small> {{ journal.timeStamp | date:'d MMMM y' : '' : 'sv-SE' }}
                Klockan
                {{ journal.timeStamp | date:'HH:mm' }}</small>

            <hr>

        </div>
        <button class="buttons" (click)="logout()">Logout</button>

    </div>
</div>

@if (showStatistics) {

<div class="statistics-overlay">

    <div class="statistics-popup">

        <h2>My Statistics</h2>
        <h3>Filter by:</h3>
        <label for="startDate">Start date:</label>

        <input id="startDate" type="date" [(ngModel)]="startDate">

        <label for="endDate">End date:</label>

        <input id="endDate" type="date" [(ngModel)]="endDate">

        <button class="show-statistics-button" (click)="getStatistics()">
            Show statistics
        </button>
        @if ((statistics | keyvalue).length > 0) {

        <div class="statistics-results">

            <h3 class>Statistics:</h3>

            <div *ngFor="let item of statistics | keyvalue">

                <p>
                    {{ item.key }}:
                    {{ item.value | number:'1.0-1' }}%
                </p>

            </div>

        </div>

        } @else if (startDate && endDate) {

        <div class="statistics-results">

            <p>Could not find any saved journals between selected dates.</p>

        </div>

        }

        <button class="close-button" (click)="closeStatistics()">
            Close
        </button>

    </div>

</div>

}