<div class="myjournal-container">

    <h1>My Journal</h1>

    <h2>How do you feel today?</h2>

    <div class="feelings">
        <button (click)="selectFeeling('HAPPY')">Happy</button>
        <button (click)="selectFeeling('SAD')">Sad</button>
        <button (click)="selectFeeling('TIRED')">Tired</button>
        <button (click)="selectFeeling('STRESSED')">Stressed</button>
        <button (click)="selectFeeling('ANGRY')">Angry</button>

        <p *ngIf="selectedFeeling"> Your selected feeling: {{ selectedFeeling }}</p>

        <h2>Leave a note:</h2>
        <textarea [(ngModel)]="note" placeholder="Describe your feeling today..." rows="6" cols="50"></textarea>

        <button (click)="saveNote()" class="save-button">Save note</button>
    </div>

    <div class="savedNotes">
        <h2>My JournalNotes:</h2>
        <div *ngFor="let journal of savedNotes">
            <h3>{{ journal.feeling }}</h3>
            <li> Saved Note: <br>
                {{ journal.note }}</li>
            <br>
            <small> {{ journal.date | date:'yyyy-MM-dd HH:mm' }}</small>
            <hr>

        </div>
    </div>